body{
 background-color: #eee;   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
}

.column {
    flex-direction: column;
}

.grid{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    
}



button{
    width: 10em;
    height: 3em;
    background-color: #ccc;
    border-radius: 20%;
}

#gridSizeRange {
    width: 100%;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 2px;
    width: 400px;
    height: 400px;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.cell-clicked {
    background-color: blue;
}